<p style="line-height: 1.41; font-size: 110%"><font face = "Nunito Sans">
      Bismillahirrahmanirrahim<br>
      Assalamu'alaikum warahmatullahi wabaraktuh<br>
      Dengan mengharap Rahmat dan Ridho Allah SWT, kami bermaksud menikahkan putri dan putra kami;<br>
      <br>
      <b>Insani Hasbullah (Sani)</b><br>
      Putri dari Bapak Yayan Rohayana &amp; Ibu Nina Herlina<br>
      &amp;<br>
      <b>Falah Fakhruddin (Falah)</b><br>
      Putra Ketiga dari Bapak Kurnia Achmadin &amp; Ibu Siti Chaeriah<br>
      <br>
      Akad nikah dan Walimatul `Urs InsyaAllah akan kami selenggarakan pada:<br>
      <b>Hari/tanggal:&nbsp;Jumat, 2 April 2021/ 19 Sya`ban 1442 H</b><br>
      <b>Pukul: 13.30 WIB - Selesai</b><br>
      <b>Tempat: Bumi Samami, Bandung</b><br>
      <br>
      Penyelenggaraan acara tersebut akan dilakukan sesuai dengan protokol kesehatan dalam situasi pandemi covid-19 secara terbatas, oleh karenanya kami hanya dapat berharap kiranya Bapak/Ibu/saudara berkenan memberikan do'a dan restu agar Allah meridhoi dan melimpahkan keberkahan serta kebaikan pada kedua mempelai. Aamiin Yaa Mujibassailin.<br>
      Namun sekiranya Bapak/Ibu/Saudara berkenan untuk hadir dapat mengisi 'RSVP' terlampir atau Bapak/Ibu/Saudara dapat mengikuti secara virtual pada link youtube di bawah.<br>
      <br>
      Atas doa dan restu Bapak/Ibu/Saudara, kami haturkan terima kasih.<br>
      <i>Jazakumullah Khairan Katsiran</i><br>
      <i>Wassalamu'alaikum warahmatullahi wabarakatuh</i><br>
      <br><br>
      Kami Yang Berbahagia,<br>Yayan Rohayana dan Nina Herlina<br>(Bandung)<br>Kurnia Achmadin dan Siti Chaeriah<br>(Jakarta)<br>
      <br><br>
      Sani&nbsp;&amp; Falah<br>
      <br><br>
      Turut Berbahagia:<br>Keluarga Besar H. Eddi Supardi (Pekalongan)<br>Keluarga Besar alm. Moh. Tochri (Jakarta)<br>Keluarga Besar alm. H. Uli Hasbullah (Banjar)<br>Keluarga Besar alm. Suherman (Bandung)
   
      </font></p>