<p style="line-height: 1.41; font-family: nunito sans; font-size: 110%">
   Bismillahirrahmanirrahim<br>
   Assalamu'alaikum warahmatullahi wabaraktuh<br>
   Dengan mengharap Rahmat dan Ridho Allah SWT, kami bermaksud menikahkan putri dan putra kami;<br>

   <p style="line-height: 1.21; font-family:bluu; font-size: 180%; margin-bottom: 0"><b>Insani Hasbullah (Sani)</b></p>
   Putri dari Bapak Yayan Rohayana &amp; Ibu Nina Herlina<br><br>
   <p style="width:70%;border-bottom: 1px solid #415941; line-height:0;"><span style="background:#f8fbf6; padding:0 15px; font-family:initial; font-size: 180%; color: #415941">&amp;</span></p>
   <p style="line-height: 1.21; font-family:bluu; font-size: 180%; margin-bottom: 0"><b>Falah Fakhruddin (Falah)</b></p>
   Putra Ketiga dari Bapak Kurnia Achmadin &amp; Ibu Siti Chaeriah<br>
   <br>
      
   Akad nikah dan Walimatul `Urs InsyaAllah akan kami selenggarakan pada:
   <p style="line-height: 1.41; font-family:bluu; font-size: 115%;">
      <br><b>Hari/tanggal:&nbsp;Jumat, 2 April 2021/ 19 Sya`ban 1442 H</b><br>
      <b>Akad Nikah: 13.30 WIB</b><br>
      <b>Resepsi: 15.30 WIB</b><br>
      <b>Tempat: Bumi Samami, Bandung</b><br>
   </p>
   Mohon kiranya dapat dimaklumi, dalam situasi pandemi covid-19, tentunya penyelenggaraan acara tersebut wajib mengikuti protokol kesehatan, dengan tamu terbatas dan bergantian. Oleh karenanya kami hanya dapat berharap perkenan doa Bapak/Ibu/Saudara agar Allah meridhoi dan melimpahkan keberkahan serta kebaikan atas pernikahan kedua putri.putra kami tersebut. Aamiin Yaa Mujibassailin.<br>
   Selanjutnya Bapak/Ibu/Saudara dapat mengikuti prosesi akad nikah secara virtual melalui link youtube dibawah. Namun sekiranya Bapak/Ibu/Saudara berkenan untuk hadir dalam acara ini, mohon kiranya dapat mengisi 'RSVP' terlampir.<br>
   <br>
   Atas doa dan restu Bapak/Ibu/Saudara, kami haturkan terima kasih.<br>
   <i>Jazakumullah Khairan Katsiran</i><br>
   <i>Wassalamu'alaikum warahmatullahi wabarakatuh</i><br>
   <br><br>
   Kami Yang Berbahagia,<br>Yayan Rohayana dan Nina Herlina<br>(Bandung)<br>Kurnia Achmadin dan Siti Chaeriah<br>(Jakarta)<br>
   <br><br>
   Sani&nbsp;&amp; Falah<br>
   <br><br>
   Turut Berbahagia:<br>Keluarga Besar H. Eddi Supardi (Pekalongan)<br>Keluarga Besar alm. Moh. Tochri (Jakarta)<br>Keluarga Besar alm. H. Uli Hasbullah (Banjar)<br>Keluarga Besar alm. Suherman (Bandung)

</p>