<p style="line-height: 1.41; font-family: nunito sans; font-size: 110%">
    <b>By the God's Grace And Blessing</b><br>
    We are going to conduct the wedding reception of our children:
 
    <p style="line-height: 1.21; font-family:bluu; font-size: 180%; margin-bottom: 0"><b>Insani Hasbullah (Sani)</b></p>
    Daughter of Mr. Yayan Rohayana &amp; Mrs. Nina Herlina<br><br>
    <p style="width:70%;border-bottom: 1px solid #415941; line-height:0;"><span style="background:#f8fbf6; padding:0 15px; font-family:initial; font-size: 180%; color: #415941">&amp;</span></p>
    <p style="line-height: 1.21; font-family:bluu; font-size: 180%; margin-bottom: 0"><b>Falah Fakhruddin (Falah)</b></p>
    Third Son of Mr. Kurnia Achmadin &amp; Mrs. Siti Chaeriah<br>
    <br>
    <!-- <p><img src="https://sanifalahwedding.github.io/public/picture/text2730.png" data-bottom-top="@src:https://sanifalahwedding.github.io/public/picture/text2730.png" height="100" alt=""></p> -->
 
    The Wedding Reception will be held on:
    <p style="line-height: 1.41; font-family:bluu; font-size: 115%;">
    <br><b>Date:&nbsp;Friday, 2<sup>nd</sup> April 2021</b><br>
    <b>Time: 03.30 PM</b><br>
    <b>Venue: Bumi Samami, Bandung</b>
    </p>
    As prevention of COVID-19, The Reception will conduct health procedures and follow new normal wedding protocols.<br>
    You are cordially invited, and your presence will surely be of great pleasure to us, kindly feel free if by any chance you would unable to attend due to the unctrollable COVID-19 situation, we are very much understand the condition.</br>
    We are so grateful for your kind of words & whishes for the couple.
    <br><br>
    Our Regards,<br>Yayan Rohayana and Nina Herlina<br>(Bandung)<br>Kurnia Achmadin and Siti Chaeriah<br>(Jakarta)<br>
    <br>
    Sani&nbsp;&amp; Falah<br>
   </p>