<p style="line-height: 1.41; font-family: nunito sans; font-size: 110%">
   Bismillahirrahmanirrahim<br>
   Assalamu'alaikum warahmatullahi wabaraktuh<br>
   Dengan mengharap Rahmat dan Ridho Allah SWT, kami bermaksud menikahkan putri dan putra kami;<br>

   <p style="line-height: 1.21; font-family:bluu; font-size: 180%; margin-bottom: 0"><b>Insani Hasbullah (Sani)</b></p>
   Putri dari Bapak Yayan Rohayana &amp; Ibu Nina Herlina<br><br>
   <p style="width:70%;border-bottom: 1px solid #415941; line-height:0;"><span style="background:#f8fbf6; padding:0 15px; font-family:initial; font-size: 180%; color: #415941">&amp;</span></p>
   <p style="line-height: 1.21; font-family:bluu; font-size: 180%; margin-bottom: 0"><b>Falah Fakhruddin (Falah)</b></p>
   Putra Ketiga dari Bapak Kurnia Achmadin &amp; Ibu Siti Chaeriah<br>
   <br>
   <!-- <p><img src="https://sanifalahwedding.github.io/public/picture/text2730.png" data-bottom-top="@src:https://sanifalahwedding.github.io/public/picture/text2730.png" height="100" alt=""></p> -->

   Resepsi InsyaAllah akan kami selenggarakan pada:
   <p style="line-height: 1.41; font-family:bluu; font-size: 115%;">
   <br><b>Hari/tanggal:&nbsp;Jumat, 2 April 2021/ 19 Sya`ban 1442 H</b><br>
   <b>Pukul: 15.30 WIB - Selesai</b><br>
   <b>Tempat: Bumi Samami, Bandung</b><br>
   </p>
   Besar harapan kami kiranya Bapak/Ibu/Saudata berkenan hadir guna memberikan do'a restu kepada kedua mempelai. Dalam situasi pandemi covid-19, tentunya penyelenggaraan acara tersebut akan dilakukan sesuai dengan protokol kesehatan dengan tamu terbatas dan bergantian.<br>
   Namun sekiranya Bapak/Ibu/Saudara berhalangan untuk hadir dapat mengikuti secara virtual pada link youtube di bawah.<br>
   <br>
   Atas doa dan restu Bapak/Ibu/Saudara, kami haturkan terima kasih.<br>
   <i>Jazakumullah Khairan Katsiran</i><br>
   <i>Wassalamu'alaikum warahmatullahi wabarakatuh</i><br>
   <br><br>
   Kami Yang Berbahagia,<br>Yayan Rohayana dan Nina Herlina<br>(Bandung)<br>Kurnia Achmadin dan Siti Chaeriah<br>(Jakarta)<br>
   <br><br>
   Sani&nbsp;&amp; Falah<br>
   <br><br>
   Turut Berbahagia:<br>Keluarga Besar H. Eddi Supardi (Pekalongan)<br>Keluarga Besar alm. Moh. Tochri (Jakarta)<br>Keluarga Besar alm. H. Uli Hasbullah (Banjar)<br>Keluarga Besar alm. Suherman (Bandung)

  </p>